
.footer{ background-color:  #131f2b; ; border-radius: 4px; margin: 10 0 0 0 ;padding: 5 5 5 5; } 
.footer h2{ text-align: center; padding: 0 0 0 0 ; margin: 0 0 0 0 ; color:#e5ca8b; }
.footer p{ text-align: center; padding: 0 0 0 0 ; margin: 0 0 0 0 ; color:#e5ca8b; }
.foot  {  display:flex ; justify-content:center ;  flex-direction: row;flex-wrap: wrap; ;align-items: center ; text-decoration: none ; width: 99%; margin:0 0 0 0 ; padding: 0 0 0 0; }
.foot a{ text-decoration: none; color:#e5ca8b; justify-content: center ;  font-size: 12px; padding: 0 0 0 0 ; margin: 0 0 0 0;width: 20%;  }
.foot img{ padding: 0 0 0 0; margin: 0 0 0 0;}

#insta.foot ,#fb.foot ,#mail.foot{  width:20% ; margin-top: 25px; margin-bottom: 20px; }


@media screen and (max-width: 700px) {
    .foot {
      flex-direction: row ;
    }

    #insta.foot ,#fb.foot ,#mail.foot{  width:33% ; margin-top: 25px; margin-bottom: 0px; }
  }