.block {padding:0 0 0 0; margin:0 0 0 0;background-color:rgb(31, 152, 168)}
.nav{position: sticky; top: 0 ;}
.navbar     {background-color: rgba(0, 0, 0, 0.726);; witdh:100% ,position: sticky; top: 0 ; }
.LPIMG      {width: 100%   }
.navbar a   {text-decoration: none;color: white;padding:10px; font-size:30px}
.wel        { margin:0 }
.wel p      { font-size: 25px; }
.header     {padding:0 0 0 0; margin: 0 0 0 0   ;font color="white"}
.navbar a:hover{ color: black; }